@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

.container{
    width: 100%;
    max-width: 1140px;
    display: flex;
}

header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 30px;
            font-weight: 400;
        }
        i{
            font-size: 20px;
        }
    }
}

.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.386)) ,url('./assist/images/bg-hero.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    .content{
        width: 720px;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        gap: 1rem;
        padding: 5rem;
        background-image: linear-gradient(rgba(77, 171, 74, 0.187));
        .f{
            position: absolute;
            border-top: 3px white solid;
            border-right: 3px white solid;
            width: 100px;
            height: 100px;
            top: 5px;
            right: 5px;
        }
        .l{
            position: absolute;
            border-bottom: 3px white solid;
            border-left: 3px white solid;
            width: 100px;
            height: 100px;
            bottom: 5px;
            left: 5px;
        }
        p{
            font-family: "Open Sans", sans-serif;
        }
        h2{
            font-size: 72px;
            font-weight: 500;
        }
        button{
            font-family: "Open Sans", sans-serif;
            padding: 10px 30px;
            background: rgb(121, 205, 31);
            border: none;
            color: white;
            &:hover{
                cursor: pointer;
                background: rgb(153, 234, 68);
            }
        }
        @media screen and (max-width: 767px){
            h2{
                font-size: 35px;
            }
        }

    }
}
.main-1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        img{
            width: 570px;
            max-width: 90%;
            height: 496px;
            object-fit: cover;
            box-shadow: rgba(26, 26, 26, 0.4) 0px 0px 40px 0px;
        }
        .content{
            width: calc(100% - 570px - 2rem);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0 3rem;
            @media screen and (max-width: 1150px){
                width: 90%;
            }
            h3{
                font-size: 36px;
            }
            hr{
                width: 64PX;
                height: 3px;
                border:3px solid  #81C132 ;
            }
            p{
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                line-height: 25.6px;
            }
        }
    }
}

.main-2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
    margin-top: -10rem;
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        position: relative;
        @media screen and (max-width: 1150px){
                display: flex;
                flex-direction: column;
            }
        .content1{
            width: 300px;
            max-width: 80%;
            @media screen and (max-width: 1150px){
                order: 2;
            }
            i{
                width: 2.5rem;
                font-size: 6rem;
                color: #e5e5e5;
                z-index: 0;
            }
            p{
                font-size: 24px;
                line-height: 38.5px;
                margin-top: -3.5rem;
            }
        }
        img{
            width: 572px;
            max-width: 60%;
            height: 365px;
            object-fit: cover;
            box-shadow: rgba(26, 26, 26, 0.4) 0px 0px 40px 0px;
            @media screen and (max-width: 1150px){
                position: static;
                order: 1;
            }
        }
        .content2{
            width: 385px;
            max-width: 80%;
            background: #f2f2f2;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 16px 80px 40px 30px;
            position: absolute;
            top: 20px;
            right: 0px;
            box-shadow: rgba(26, 26, 26, 0.4) 0px 0px 40px 0px;
            @media screen and (max-width: 1150px){
                position: static;
                order: 3;
            }
            h3{
                font-size: 36px;
            }
            hr{
                width: 64PX;
                height: 3px;
                border:3px solid  #81C132 ;
            }
            p{
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                line-height: 25.6px;
            }
        }
    }
}

.main-3{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:5rem 5rem 20rem 5rem;
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1150px){
                flex-direction: column;
                gap: 15rem;
            }
        .content{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 454px;
            max-width: 90%;
            h3{
                font-size: 36px;
                font-weight: 300;
            }
            hr{
                width: 64PX;
                height: 3px;
                border:3px solid  #81C132 ;
            }
            p{
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                line-height: 25.6px;
            }
        }
        .imges{
            width: calc(100% - 454px);
            max-width: 100%;
            min-height: 500px;
            max-height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 1150px){
                width: 100vw;
            }
            div{
                width: 450px;
                max-width: 80%;
                height: 420px;
                background: #e5e5e5;
                z-index: 1;
                position: relative;
                box-shadow: rgba(26, 26, 26, 0.4) 0px 0px 40px 0px;
                .img1{
                width: 385px;
                max-width: 90%;
                height: 477px;
                object-fit: cover;
                position: absolute;
                top: -14.5rem;
                right: -7.35rem;
                z-index: 3;
                box-shadow: rgba(26, 26, 26, 0.4) 0px 0px 40px 0px;
            }
            .img2{
                width: 457px;
                max-width: 90%;
                height: 310px;
                max-height: 80%;
                object-fit: cover;
                position: absolute;
                right: 35%;
                top: 35%;
                z-index: 2;
                box-shadow: rgba(26, 26, 26, 0.4) 0px 0px 40px 0px;
            }
            }
        
        }
    }
}

.actions{
    width: 100%;
    background-image: url('./assist/images/bg-actions.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 5rem;
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        .card{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: calc(100% / 3 - 2rem);
            background: rgba(255, 255, 255, 0.365);
            padding: 2rem;
            @media screen and (min-width: 768px) and (max-width: 1150px){
                width: calc(100% / 2 - 2rem);
            }
            @media screen and (max-width: 769px){
                width: 100vw;
            }
            div{
                display: flex;
                span{
                    font-size: 96px;
                    line-height: 96px;
                    color: #346473;
                }
                h3{
                    display: inline;
                    font-size: 24px;
                    line-height: 28.8px;
                    padding: 1rem;
                }
            }
            p{
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                line-height: 28.8px;
            }
            a{
                color: black;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 25.6px;
                text-decoration: 3px underline #346473;
                text-underline-offset: 3px;
            }
        }
    }
}